[submodule "pack/plugins/start/vim-one"]
	path = pack/plugins/start/vim-one
	url = git@github.com:rakr/vim-one.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/vim-vue"]
	path = pack/plugins/start/vim-vue
	url = git@github.com:posva/vim-vue.git
